.bg-gray-400 {
    background-color: #dee2e6 !important;
}
.table.custom-border,
.table.custom-border th,
.table.custom-border td {
    background-color: #dee2e6;
    border-color: #adb5bd !important;
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table.custom-border th {
    border-right: none;
}
.table.custom-border td {
    border-left: none;
}
.table.custom-border {
    border: 3px solid #adb5bd !important;
    border-collapse: collapse;
}