<div data-controller="courses"></div>
<%= content_tag :div, id: "data", data: { course: @course.to_json, course_stats: @course_stats.to_json } do %>
<% end %>

<div class="text-center my-5">
  <h1>
    <%= @course.degree %>
  </h1>
  <h4>
    <%= @course.university %>
  </h4>
</div>
<div class="container-fluid d-flex justify-content-evenly my-5">
  <div class="col-5">
    <canvas id="left-chart"></canvas>
  </div>
  <div class="col-5">
    <canvas id="right-chart"></canvas>
  </div>
</div>
